@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  color: #f5f5f5;
}

p {
  color: #ddd6cb;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #121212;
}

.content-area {
  height: 100%;
  overflow-y: auto;
  background: #1e1e1e;
}

.sidebar {
  height: auto;
}

.content-area {
  height: auto;
}

@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
  }

  .content-area {
    height: 100%;
  }
}

.add-btn {
  background: #292929;
  transition: background-color 0.3s ease;
}

.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn,
.load-more-btn {
  background: #0d0d0d;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #0d0d0d;
}

.load-more-btn:hover {
  background-color: #292929;
}

.adding-input,
.adding-description {
  outline: none;
  box-shadow: 0 0 5rem 0.1rem rgba(230, 125, 34, 0.5);
  color: #000000;
}
